<div class="text-center">
  <h1>Edit a new student</h1>

  <%= form_for(@student, url: student_path(@student.id), method: "patch") do |f|%>

  <p>
    <%= f.label(:name)%>
    <%= f.text_field(:name, autofocus: true)%>
  </p>

  <p>
    <%= f.label(:password)%>
    <%= f.password_field(:password, autofocus: true)%>
  </p>

    <%= f.submit("Edit", class: "btn btn-primary ")%>
  <% end %>
  <br>
  <%= link_to "See courses", courses_path %>
  <br>
  <%= link_to "See students", students_path %>
</div>